<div class="row">
    <div class="col-xs-12">
        <!-- If error then display error details -->
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <!-- If loading then display spinner(CSS Loader) -->
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <!-- Display Login and SignUp Form, If not Loading -->
        <form #authform="ngForm" (ngSubmit)="onSubmit(authform)" *ngIf="!isLoading">
            <div class="forn-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control"
                 ngModel
                 name="email"
                 required
                 email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control"
                ngModel
                name="password"
                required
                minlength="6">
            </div>
            <div>
                <!-- Disable the button, If form details are not Valid -->
                <button class="btn btn-primary" type="submit" [disabled]="!authform.valid">
                    <!-- Based on Mode, Display Login or Sign Up to the user -->
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button> |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
                    <!-- Based on Mode, Display Login or Sign Up to the user and on button CLICK switch vice-versa -->
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>

